/*----------------  Home Page  -----------------------*/
.primary-menu a{
    text-decoration: none;
    color:black !important;
}

.home-pg-learn-more{
    border-radius: 30px;
    padding:20px;
    margin: 10% 25%;
}

h1.entry-title{
    font-size:30px;
}

button.toggle{
    display:none !important;
}